<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Detalle del producto</title>
</head>

<body>
    <header>
        <div class="top-header">
            <!-- imagen logo burger-menu -->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <!-- imagen logo  -->
            <div class="logo">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>

            <div class="container-user-carrito">
                <!--User-->
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>

                <!-- carrito-->
                <div class="container-carrito-precio">
                    <div class="container-carrito">
                        <img src="/img/carrito-de-compras.png" alt="">
                    </div>
                    <div class="container-precio">
                        <p>$1000000<p>
                    </div>                    
                </div>
            </div>
            
        </div>

        <!-- lista de barra desplegable -->
        <nav class="desplegable">
            <div>
                <i class="fas fa-search"></i>
                <p>Buscar</p>
            </div>
            <ul>
                <li>Home</li>
                <li>Menu</li>
                <li>Nosotros</li>
                <li>Contactos</li>
            </ul>
        </nav>

    </header>

    <section>

    </section>

    <main>
        <section>

        </section>


        <section>

        </section>
    </main>

    <section>

    </section>
    
    <footer>
        <div class="container-footer">
            <div class="logo-footer">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatem mollitia placeat cum cumque
                obcaecati perferendis dolores, esse voluptates amet quidem dignissimos, aliquam qui, velit veniam quo
                ipsam!
            </p>

            <ul>
                <li><a href=""><img src="/img/facebook.png" alt=""></a></li>
                <li><a href=""><img src="/img/instagram.png" alt=""></a></li>
                <li><a href=""><img src="/img/whatsapp.png" alt=""></a></li>
                <li><a href=""> <img src="/img/twitter.png" alt=""> </a></li>
            </ul>
            
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    <footer> 
</body>

</html>