* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
}
h2{
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
}
section article a {
    color: #fff;
    text-decoration: none;
}

.main-section{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}
.categorias{
    margin: 10px 0px 10px 0px;
}
.article{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
.contenedor-img img{
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
.contenedor-img{
    width: 45%;
    border-radius: 20%;
    
}

@media (min-width: 480px) {
    .article{
        width: 30%;
    }
}
@media (min-width: 764px) {
    .article{
        width: 25%;
    }
    article div.contenedor-img img{
        border-radius: 100%;
    }
}
@media (min-width: 1280px) {
    .article{
        width: 20%;
    }
    .contenedor-img img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
    div.burger-menu i{
        display: none;
    }
    nav.desplegable{
        display: block;
    }
}